{% extends 'base.html' %}

{% block title %} Create category {% endblock %}

{% block content %}

    {% if user.is_superuser %}
        <h1>Create category</h1>
        <div class="from-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>* Please add category without any spaces</p>
                <button type="submit" class="btn btn-dark font-weight-bold">Add</button>
                <a href="{% url 'homeview' %}" type="submit" class="btn btn-danger font-weight-bold">Cancel</a>
            </form>
        </div>
    {% else %}
        <h1> 401 - Unauthorized :( </h1>
        <h6> You are not authorized to add categories! </h6>
    {% endif %}

{% endblock %}