{% extends 'base.html' %}
{% block title %} {{ blog.title}} {% endblock %}

{% block content %}

{% load bootstrap_icons %}  

    <h1> {{ blog.title }} </h1>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row justify-content-between align-items-center"> 
            <h5> Author: </h5>
            <a href="{% url 'profile' blog.author.id %}" class="text-danger nav-link pt-0" title="See more about author"> 
                    {{ blog.author.first_name}} {{ blog.author.last_name}}
            </a> 
        </div>
        <p class="font-weight-normal"> {{ blog.date_created }} </p>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h6> Category: </h6>
            <a href="{% url 'profile' blog.author.id %}" class="text-danger nav-link pt-0" title="See more {{ blog.category.name}} blogs"> 
                    {{ blog.category.name}}
            </a>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% if user.is_authenticated %}
                <form action="{% url 'like_blog' blog.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="blog_id", value="{{ blog.id }}" class="text-danger btn btn-link m-auto"> {% bs_icon 'heart-fill' %} </button>
                </form>
            {% endif %}
            <h6 class="p-2">{{ blog.likes.count }} likes</h6>
        </div>
    </div>
    <hr/>
    {% if blog.header_image %}
        <img src="{{ blog.header_image.url }}" height="128px" width="196px">
    {% endif %}
    <p> {{ blog.body|safe }} </p>
    <hr>
    <div class="d-flex flex-row justify-content-between align-items-center">
        {% if user.is_authenticated and blog.author.id == user.id %}
        <div>
            <a class="btn btn-dark font-weight-bold" href="{% url 'updateblogview' blog.pk %}" > Edit</a>
            <a class="btn btn-danger font-weight-bold" href="{% url 'deleteblogview' blog.pk %}" > Delete</a>
        </div>
        {% endif %}
        <div>
            <a class="btn btn-dark font-weight-bold" href="{% url 'homeview' %}" > Back</a>
        </div>
    </div>

{% endblock %}


