{% extends 'base.html' %}

{% block content %}

<div style="display: flex;
            justify-content: space-between;
            align-items: center;">
    <h1>{{ cats }} Blogs</h1>
    <div>
        <a href="{% url 'homeview' %}" class="btn btn-dark" style="font-weight: 600;">Back</a>
    </div>
</div>
<hr>
<ul>
    {% for blog in category_blogs %}
        <li>
            <div style="display: flex;
            justify-content: space-between;
            align-items: center;""> 
                <div>
                    <a href="{% url 'blogdetailview' blog.pk %}"
                    style="
                    text-decoration: none; 
                    font-weight: 700; 
                    color: #292b2c;
                    font-size: 20px;
                    ">
                        {{ blog.title }}
                    </a> - {{ blog.author.first_name }} {{ blog.author.last_name }} 
                </div>
                <p> {{ blog.category.name | title }} </p>
            </div>
            <br/>
            <p style="color:rgb(124, 122, 122); text-align: justify; margin-top: 10px;">
                {{ blog.body|truncatewords:200 }}
            </p>
            <div style="display: flex; justify-content: flex-end;">
                <p style="font-weight: 500;">
                    {{ blog.date_created }}
                </p>
            </div>
        </li>
        <hr>
    {% endfor %}
</ul>

{% endblock %}

    
