{% extends 'base.html' %}

{% block title %} Edit category {% endblock %}

{% block content %}

    {% if user.is_superuser %}
        <h1>Edit category</h1>
        <div class="from-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div>
                        <button type="submit" class="btn btn-dark font-weight-bold">Update</button>
                        <a href="{% url 'deletecategoryview' category.pk %}" type="submit" class="btn btn-danger font-weight-bold">Delete</a>
                    </div>
                    <a href="{% url 'categoriesviews' %}" type="submit" class="btn btn-dark font-weight-bold" >Cancel</a>
                </div>
                
            </form>
        </div>
    {% else %}
        <h1> 401 - Unauthorized :( </h1>
        <h6> You are not authorized to add categories! </h6>
    {% endif %}

{% endblock %}