{% extends 'base.html' %}

{% block title %} Edit blog {% endblock %}

{% block content %}

    {% if user.is_authenticated and blog.author.id == user.id %}
        <h1>Edit blog</h1>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.media }}  
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark font-weight-bold">Update</button>
                <a href="{% url 'blogdetailview' blog.pk %}"  class="btn btn-danger font-weight-bold">Cancel</a>
            </form>
        </div>
    {% else %}
        <h1> 401 - Unauthorized :( </h1>
    {% endif %}

{% endblock %}